body{
  margin:0;
  padding:0;
  font-family: helvetica;
}
footer{
  background-color: rgba(0,0,0,0.9);
  color:white;
  /*height: 500px;*/
  border-top: 3px solid #FF7800;
}
.partners{
  text-align: center;
  padding-top: 2em;
  padding-left: 1em;
}
.logoPartners{
  display: flex;
  justify-content: space-around;
  align-items:center;
  height:300px;
  width:100%;
}
footer img{
  border-radius: 4px;
}
.logoPartners img:hover{
  margin: -5px;
  border: solid 5px #FF7800;
}
.copyright{
  text-align: center;
  color: #EDDFB3;
  display: flex;
  justify-content: flex-end;
}
.copyright p{
  padding-right: 30%;
}
.fleche{
  float:right;
  margin-right: 3em;
}
@media screen and (max-width: 768px)
{
  footer img{
    width:100px;
  }
  .fleche{
    width:50px;
  }
  .logoPartners{
    height:200px;
  }
}
@media screen and (max-width: 640px)
{
    footer img{
      width:50px;
    }
    .logoPartners{
      height:100px;
    }
    .fleche{
      width:40px;
    }
}
