body {
  margin: 0;
  background-color: black;
  width: 100%;
  height: 100%;
}

html, body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #000;

}

* {
  font-family: helvetica;
}

.titres {
  text-align: center;
}

.titres img {
  width: 12%;
  padding-top: 10px;
  height: auto;
}
.titres img.ern {
  width: 25%;
}
.header {
  background: url("../img/background.jpg") scroll no-repeat;
  background-size: 120%;
  background-position: 0px -80px;
  width: 100%;
  height: 100%;
}

.h1 {
  color: white;
  text-shadow: 3px 3px 3px black;
  font-size: 300%;
  margin-top: 3%;
  margin-bottom: 1%;
}

.h3 {
  color: white;
  text-shadow: 3px 3px 3px black;
  font-size: 150%;
  margin-top: 2%;
}

.divScnd {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.menuScnd {
  list-style: none;
  color: white;
  display: flex;
  flex-direction: row;
  background-color: rgba(0,0,0,0.5);
  padding-bottom: 4px;
  margin-bottom: 0;
}

.menuScnd li {
  margin: 6px 20px 0px 20px;
  padding: 8px 8px 8px 8px;
  font-size: 150%;
  margin-left: auto;
  margin-right: auto;
  border-right: solid white 1px;
  -webkit-transition: all 0.5s;
}

.menuScnd a {
  color: white;
  text-decoration: none;
}

.menuScnd li:hover,
.menuScnd li:focus {
	transform: scale(1.2);
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 600px) {
  .divScnd {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
  }
  .menuScnd li {
    font-size: 80%;
  }
  .menuScnd {
    padding-left: 0;
  }
  .header {
    background-size: cover;
  }
  .titres {
    margin-top: 10%;
  }
  .titres img {
    min-width: 100px;
  }
}
