@font-face{
    font-family: 'SourceSansPro';
    src: url('SourceSansPro-Regular.otf');
}

*{
  font-family: /*SourceSansPro,*/ Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  background-color: black;
}

section{
  display: flex;
  flex-direction: column;
}

#definitions{
  color: white;
}

.lexique {
  /*margin-bottom: 9%;*/
  width: 100%;
  padding: 10%;
  float: left;
  text-align: justify;
  color: white;
}

.lexique img {
  margin: auto;
  display: block;
  max-width: 300px;
  max-height: 300px;
  padding: 2%;
}

.lexique img:nth-child(odd) {
  float: right;
}

.lexique img:nth-child(even) {
  float: left;
}

.lexique img:active {
  width: 55%;
}

h1 {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 9%;
  color: white;
}

h3 {
  /*color: #444444;*/
  color: white;
}

nav{
  display: flex;
  padding-bottom: 15px;
}

.navLexique{
  height: 50px;
}

.navLexique a {
  text-decoration: none;
  /*color: #FF8800;*/
  color: orange;
  min-width: 25px;
  background-color: grey;
  border-radius: 100%;
  text-align: center;
  padding: 5px;
  position: relative;

}

.navLexique a:hover {
  font-style: italic;
  font-weight: bold;
  font-size: 2.5em;
  color: lime;
  padding-top: 30px;
  position: relative;
  }

#definitions #a, #b, #c, #d, #e, #f, #g, #h, #i, #j, #k, #l, #m, #n, #o, #p, #q, #r, #s, #t, #u, #v, #w, #x, #y, #z{
  margin-left: 2px;
  margin-top: 25px;
  width: 40px;
  height: 40px;
  background-color: grey;
  border-radius: 100%;
  text-align: center;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  color: lime;
}
