@font-face {
    font-family: 'SourceSansPro';
    src: url('SourceSansPro-Regular.otf');
}

* {
  font-family: /*SourceSansPro,*/ Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  background-color: black;
}

#definitions{
  color: white;
}

.lexique {
  /*margin-bottom: 9%;*/
  width: 100%;
  padding: 10%;
  float: left;
  text-align: justify;
  color: white;
}

.lexique img {
  margin: auto;
  display: block;
  width: 50%;
  height: 30%;
  padding: 2%;
}

.lexique img:nth-child(odd) {
  float: right;
}

.lexique img:nth-child(even) {
  float: left;
}

.lexique img:active {
  width: 55%;
}

h1 {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 9%;
  color: white;
}

h3 {
  /*color: #444444;*/
  color: white;
}

a {
  text-decoration: none;
  /*color: #FF8800;*/
  color: white;

}

a:hover {
  font-style: italic;
  color: white;
}
