@font-face{
    font-family: 'SourceSansPro';
    src: url('SourceSansPro-Regular.otf');
}

*{
  font-family: /*SourceSansPro,*/ Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  background-color: rgba(0, 0, 0, 0.9);
}

section{
  display: flex;
  flex-direction: column;
}
#definitions{
  color: white;
}

.lexique {
  /*margin-bottom: 9%;*/
  width: 100%;
  padding: 10%;
  float: left;
  text-align: justify;
  color: white;
  border: rgba(255, 255, 255, 1);
  border-radius: 12px;
}
.lexique img {
  margin: auto;
  display: block;
  max-width: 300px;
  max-height: 300px;
  padding: 2%;
}

.lexique img:nth-child(odd) {
  float: right;
}

.lexique img:nth-child(even) {
  float: left;
}

.lexique img:active {
  width: 55%;
}

h1 {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 9%;
  color: white;
}

h3 {
  /*color: #444444;*/
  color: #EF5734;
}
.puces{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  width: 3em;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}
