ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
ul.topnav li {
  float: right;
}
ul.topnav li.right {
  float: right;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
  background-color: rgba(255,255,255,0.2);
}
.active {
  background-color: rgba(255,255,255,0.3);
}

@media all and (max-width: 600px) {
  ul.topnav li {
    float: none;
  }
  body {
    margin:0;
  }
  .header {
    margin-top: 0;
    border-radius: 0;
  }
  .content {
    margin-bottom: 0;
    border-radius: 0;
  }
}
