.overflow-hidden {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.glowbox {
  -moz-box-shadow: 0 0 3px 5px #000;
  -webkit-box-shadow: 0 0 3px 5px #000;
  box-shadow: 0 0 3px 5px #000;
}

.innerglowbox {
  box-shadow: inset 0 0 5px #000000;
  -moz-box-shadow: inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
}

.bgblack {
  background-color: #000;
  color: #fff;
}

.content-img {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}

.content-img:hover { opacity: 0.65; }
body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
li,
p,
input,
select,
legend,
textarea {
  margin: 0;
  padding: 0;
}

.cadre{
  display:block;
  margin-left: 450px;
  margin-right: auto;
  margin-top: 110px;
}
