body{
  background-image: url("../img/2582-1.jpg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  margin: 0;
}



.content {
  margin-bottom: 0;
  border-radius: 0;
}

.tête{
  font-size: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #FF7800;
  width: 100%;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
}

.contact{
  float: left;
}

h1 h2{
  font-size: Arial, sans-serif;
}

ul li{
  list-style: none;
  font-size: Arial, sans-serif;
}

.mail1{
  margin-right: 7px;
}
.mail2{
  margin-right: 7px;
}
.mail3{
  margin-right: 7px;
}

.map{
  border: 5px solid #FF7800;
  width: 600px;
  height: 450px;;
  margin: 40px;
  clear: both;
}
.formulaire{
  float: right;
  margin: 10px 150px 0px 0px;

}*/
form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #FF7800;
  border-radius: 1em;
}

div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  font: 1em sans-serif;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: .5em;
}

footer{
  background-color: rgba(0,0,0,0.9);
  color:white;
  /*height: 500px;*/
  border-top: 3px solid #FF7800;
}
.partners{
  text-align: center;
  padding-top: 2em;
  padding-left: 1em;
}
.logoPartners{
  display: flex;
  justify-content: space-around;
  align-items:center;
  height:300px;
  width:100%;
}
footer img{
  border-radius: 4px;
}
.logoPartners img:hover{
  margin: -5px;
  border: solid 5px #FF7800;
}
.copyright{
  text-align: center;
  color: #EDDFB3;
  display: flex;
  justify-content: flex-end;
}
.copyright p{
  padding-right: 30%;
}
.fleche{
  float:right;
  margin-right: 3em;
}
@media screen and (max-width: 768px)
{
  footer img{
    width:100px;
  }
  .fleche{
    width:50px;
  }
}
@media screen and (max-width: 640px)
{
    footer img{
      width:50px;
    }
}
