@font-face {
    font-family: 'SourceSansPro';
    src: url('SourceSansPro-Regular.otf');
}

* {
  font-family: /*SourceSansPro,*/ Arial, sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.lexique {
  /*margin-bottom: 9%;*/
  width: 100%;
  padding: 10%;
  float: left;
  text-align: justify;
  color: white;
  background-color: black;
}

.lexique img {
  margin: auto;
  display: block;
  width: 35%;
  height: auto;
  padding: 2%;
}

.lexique img:nth-child(odd) {
  float: right;
}

.lexique img:nth-child(even) {
  float: left;
}

.lexique img:active {
  width: 55%;
}

h1 {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 9%;
}

h3 {
  color: #444444;
}

a {
  text-decoration: none;
  color: #FF8800;
}

a:hover {
  font-style: italic;
}
